//! **************************************************************************
// Written by: Map P.20131013 on Sat Oct 03 10:22:20 2015
//! **************************************************************************

SCHEMATIC START;
NET "Clock_BUFGP/IBUFG" BEL "Clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

